flask
gunicorn
pytest
psycopg2-binary
pylint
pytest-flask
Flask-JSONRPC
Authlib
blinker
flask_cors
python-memcached
flask_sqlalchemy
flask_script
flask_migrate
flask-wtf
WTForms-Alchemy
celery
redis
flower
flask_mail
elasticsearch
beautifulsoup4
requests
lxml
